* {
    font-family: 'Helvetica', sans-serif;
    background-color: rgb(255, 255, 255);
}

h1 {
    background-image: url(../images/pattern.jpeg);
    color:khaki;
    font-size: 100px;
    font-weight:bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes-header {
    background-color:mediumspringgreen;
}

#frames-header {
    background-color: lightcoral;
}

#paint-header {
    background-color: skyblue;
}

span {
    color: blue;
    font-weight:bold;
}